body {
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.jumbotron{
    text-align: center;
    align-item: center;
}

.videos-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

.container{
    background-color: white;
}