{% extends "master.html" %}

{% block title %}
    Adding Employee
{% endblock %}

{% block content %}

<h1>Add an Employee</h1>

<div class="card" style="border-radius:18px">
    <div class="card-body text-center">
        <form class="form" method="post">

                {% csrf_token %}
                {{ form.as_p }}

                <div style="width:20px">
                    <button class="btn btn-primary" type="submit"> Submit </button>
                </div>
        </form>

        <p>Back to <a href="/users">Employees List</a></p>

    </div>
</div>


{% endblock %}